@model Yarışma.Models.ContestantProfil



<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-content">
			<!--breadcrumb-->
			<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3 flex-grow-1">
				<div class="breadcrumb-title pe-3">User Profile</div>
				<div class="ps-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0 p-0">
							<li class="breadcrumb-item">
								<a href="javascript:;"><i class="bx bx-home-alt"></i></a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">User Profile</li>
						</ol>
					</nav>
				</div>

			</div>
			<!--end breadcrumb-->
			<div class="user-profile-page">
				<div class="card radius-15">
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-lg-7 border-right">
								<div class="d-md-flex align-items-center">
									<div class="mb-md-0 mb-3">
										<img src="assets/images/avatars/avatar-1.png" class="rounded-circle shadow" width="130" height="130" alt="">
									</div>
									<div class="ms-md-4 flex-grow-1">
										<div class="d-flex align-items-center mb-1">
											<h4 class="mb-0">@Model.FullName</h4>

										</div>
										<p class="mb-0 text-muted">@Model.Univercity</p>

									</div>
								</div>
							</div>
							<div class="col-12 col-lg-5">
								<table class="table table-sm table-borderless mt-md-0 mt-3">
									<tbody>
										<tr>
											<th>Email:</th>
											<td>
												@Model.Email <span class="badge badge-success">available</span>
											</td>
										</tr>
										<tr>
											<th>Yaş:</th>
											<td></td>
										</tr>
										<tr>
											<th>Adres:</th>
											<td>@Model.Address</td>
										</tr>
									
									</tbody>
								</table>

							</div>
						</div>
						<!--end row-->
						<ul class="nav nav-pills">

							<li class="nav-item">
								<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#Biography"><span class="p-tab-name">Biography</span><i class="bx bxs-user-rectangle font-24 d-sm-none"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Edit-Profile"><span class="p-tab-name">Edit Profile</span><i class="bx bx-message-edit font-24 d-sm-none"></i></a>
							</li>
						</ul>
						<div class="tab-content mt-3">

							<div class="tab-pane fade" id="Biography">
								<div class="row">
									<div class="col-lg-4">
									</div>
									<div class="col-lg-12">
										<div class="card shadow-none border mb-0 radius-15">
											<div class="card-body">
												<h5 class="mb-3">About</h5>
												<p>@Model.Biografy</p>
												<hr>
												

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="Edit-Profile">
								<div class="card shadow-none border mb-0 radius-15">
									<div class="card-body">
										<div class="form-body">
											<div class="row">
												<div class="col-12 col-lg-5 border-right">
													<form class="row g-3">
														<div class="col-6">
															<label class="form-label">Ad Soyad:</label>
															<input type="text" value="@Model.FullName" class="form-control">
														</div>
												
														
														<div class="col-12">
															<label class="form-label">Email</label>
															<input type="text" value="@Model.Email" class="form-control">
														</div>
														<div class="col-12">
															<label class="form-label">Telefon</label>
															<input type="text" value="@Model.Phone" class="form-control">
														</div>
														<div class="col-12">
															<label class="form-label">Address</label>
															<input type="text" value="@Model.Address" class="form-control">
														</div>
														
													</form>
												</div>
												<div class="col-12 col-lg-7">
												
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
