@model Yarışma.Models.Period

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestanStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestanStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestantEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestantEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JudgeStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JudgeStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JudgeEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JudgeEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
