@model IEnumerable<Yarışma.Models.Period>

<div class="page-content-wrapper">
	<div class="page-content">
		<a class="btn btn-success" asp-area="Management" asp-controller="Periods" asp-action="Create">Ekle</a>
		<div class="card radius-15">
			<div class="card-body">
				<div class="card-title">
					<h4 class="mb-0">Yarışma Takvimi </h4>
				</div>
				<hr>
				<div class="list-group">
					@foreach (var item in Model)
					{
						<div class="list-group-item">
							<p><strong>Dönem Adı:</strong> @item.PeriodName</p>
							<p><strong>Yarışmacı Başlama Tarihi:</strong> @item.ContestanStartDate</p>
							<p><strong>Yarışmacı Bitiş Tarihi:</strong> @item.ContestantEndDate</p>
							<p><strong>Proje Başlama Tarihi:</strong> @item.ProjectStartDate</p>
							<p><strong>Proje Bitiş Tarihi:</strong> @item.ProjectEndDate</p>
							<p><strong>Hakem Değerlendirme Başlangıç Tarihi:</strong> @item.JudgeStartDate</p>
							<p><strong>Hakem Değerlendirme Bitiş Tarihi:</strong> @item.JudgeEndDate</p>
							<p>
								<a class="btn btn-primary" asp-area="Management" asp-controller="Periods" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
								<a class="btn btn-danger" asp-area="Management" asp-controller="Periods" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
							</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
