@model IEnumerable<Yarışma.Models.Contestant>

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-content">
<h2>Tüm Yarışmacılar</h2>
<a asp-action="ExportToExcel" class="btn btn-primary">Excel olarak indir</a>
<form method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Yarışmacı veya Kategori Ara" />
    <input type="submit" value="Ara" />
</form>
<table>
    <thead>
        <tr>
            <th>Yarışmacı Adı</th>
            <th>Yarışmacı Kategori</th>
            <th>Proje Kategori</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contestant in Model)
        {
            <tr>
                <td>@contestant.contestantProfil.FullName</td>
                <td>@contestant.ContestantCategory.Name</td>
                <td>
                    <ul>
                        @foreach (var project in contestant.Projects)
                        {
                            <li>
                                @project.Name - @project.ProjectCategory.Name
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@contestant.Id">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
    </div>

</div>