@model Yarışma.Areas.Management.Models.ReportVM

<div class="page-wrapper">
    <!-- Page Content Wrapper -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">

                <!-- Widgets -->
                <div class="col-12 col-lg-12 col-xl-12 d-flex">
                    <div class="card radius-15 w-100">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-3 g-3">
                                <!-- Remaining Time -->
                                <div class="col">
                                    <div class="card radius-15 mb-0 shadow-none border">
                                        <div class="card-body text-center">
                                            <div class="widgets-icons mx-auto rounded-circle bg-info text-white">
                                                <i class="bx bx-time"></i>
                                            </div>
                                            <h4 class="mb-0 font-weight-bold mt-3">@Model.RemainingTime gün</h4>
                                            <p class="mb-0">Kalan Süre</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Total Contestants -->
                                <div class="col">
                                    <div class="card radius-15 mb-0 shadow-none border">
                                        <div class="card-body text-center">
                                            <div class="widgets-icons mx-auto bg-wall text-white rounded-circle">
                                                <i class="bx bx-bookmark-alt"></i>
                                            </div>
                                            <h4 class="mb-0 font-weight-bold mt-3">@Model.TotalContestants</h4>
                                            <p class="mb-0">Toplam Yarışmacı</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Total Judges -->
                                <div class="col">
                                    <div class="card radius-15 mb-0 shadow-none border">
                                        <div class="card-body text-center">
                                            <div class="widgets-icons mx-auto bg-rose rounded-circle text-white">
                                                <i class="bx bx-bulb"></i>
                                            </div>
                                            <h4 class="mb-0 font-weight-bold mt-3">@Model.TotalJudges</h4>
                                            <p class="mb-0">Toplam Hakem</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Total Categories -->
                                <div class="col">
                                    <div class="card radius-15 mb-0 shadow-none border">
                                        <div class="card-body text-center">
                                            <div class="widgets-icons mx-auto rounded-circle bg-danger text-white">
                                                <i class="bx bx-line-chart"></i>
                                            </div>
                                            <h4 class="mb-0 font-weight-bold mt-3">@Model.TotalCategories</h4>
                                            <p class="mb-0">Toplam Kategori</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contestant Categories -->
                <div class="col-12 col-lg-6 d-flex">
                    <div class="card radius-15 w-100">
                        <div class="card-body">
                            <h5 class="mb-6">Yarışmacı Kategoriler</h5>
                            @foreach (var category in Model.ContestantCategories)
                            {
                                <div class="progress-wrapper mb-4">
                                    <p class="mb-1">
                                        @category.Name <span class="float-end">@category.Count</span>
                                    </p>
                                    <div class="progress radius-15" style="height:5px;">
                                        <div class="progress-bar" role="progressbar"
                                             style="width: @(category.Count * 100 / Model.TotalContestants)%">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Judge Categories -->
                <div class="col-12 col-lg-6 d-flex">
                    <div class="card radius-15 w-100">
                        <div class="card-body">
                            <h5 class="mb-6">Hakem Kategoriler</h5>
                            @foreach (var category in Model.JudgeCategories)
                            {
                                <div class="progress-wrapper mb-4">
                                    <p class="mb-1">
                                        @category.Name <span class="float-end">@category.Count</span>
                                    </p>
                                    <div class="progress radius-15" style="height:5px;">
                                        <div class="progress-bar bg-voilet" role="progressbar"
                                             style="width: @(category.Count * 100 / Model.TotalJudges)%">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Project Levels -->
                <div class="card radius-15 w-100">
                    <div class="card-body">
                        <h5 class="mb-6">Proje Kategorilerine Göre Yarışmacılar</h5>
                        @foreach (var category in Model.ProjectCategories)
                        {
                            <div class="progress-wrapper mb-4">
                                <p class="mb-1">
                                    @category.Name <span class="float-end">@category.Count</span>
                                </p>
                                <div class="progress radius-15" style="height:5px;">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: @(category.Count * 100 / Model.TotalContestants)%">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
